$purple: #73459a;
$green: #01a794;

h1 {
  font-weight: 700;
}
h2 {
  color: $purple;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}
h3 {
  color: $green;
  font-size: 18px;
  font-weight: 700;
}
a {
  color: $green;
}

.fa-refresh {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: darken(#28a745, 10%) !important;
    transform: rotate(30deg);
  }
  &:active {
    color: darken(#28a745, 10%) !important;
    transform: rotate(180deg);
  }
}

.inscricao {
  padding: 0px 60px;
}

.inscricao:nth-child(odd) {
  background: #ededed;
  .collapseTrigger {
    background: #ededed;
  }
}

.collapseTrigger {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  &.headerActive {
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
  }
  &:hover * {
    color: darken($purple, 10%);
  }
}
